body {
    background-image: url(./images/ignasi_pattern_s.png);
}

.navbar-light .navbar-brand {
    color: white;
    background-color: #4aaaa5;
    font-weight: bolder;
}

#navbarSupportedContent {
    text-align: right;
}

.container-sm {
    padding: 20px;
}

.col-md-8 {
    background-color: white;
    margin-top: 55px; 
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
}

h1 {
    color: #4aaaa5;
    margin-left: 15px;
    font-weight: bold;

}

#bio-img {
    float:left;
    margin-right: 15px;
}