body {
    background-image: url(./images/ignasi_pattern_s.png);
}

.navbar-light .navbar-brand {
    color: white;
    background-color: #4aaaa5;
    font-weight: bolder;
}

#navbarSupportedContent {
    text-align: right;
}